@use '../../utils/variables' as var;


#activities {
    width: 100%;
    margin: 0 auto;

    .allActivities{
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .activity{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -1;
        
        img{
            width: 1187px;;
            height: 800px;
            object-fit:fill;
            object-position: center;
            
        }

        .textContenainer{
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: 1;

            p, h2{
                color: #fff;
            }
        }

    }
    .activity::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1%;
        height: 100%;
        background-color: var.$background;
        z-index: 0;
        transform: skew(-20deg, 20deg);
    }
    
}