@use '../../utils/variables' as var;


.heroBanner{
    position: relative;
    height: 100svh;
    width: 100%;
    img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center;
    }

    section{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:100%;
        max-width: var.$mxw;
        margin: 0 auto !important; // A retravailler 
        z-index: 100;
    }


}

@media screen and (max-width: 1099px) {
    body .heroBanner{
        section{
            h1.hb_title{
                font-size: 4rem;
            }

            .hb_subtitle{
                font-size: 3.5rem;
            }
        }
    }
}

@media screen and (max-width: 899px) {
    body .heroBanner{
        section{
            h1.hb_title span{
                display: block;
            }

            
        }
    }
}

@media screen and (max-width: 799px) {
    body .heroBanner{
        section{
            h1.hb_title{
                font-size: 3.5rem;
            }

            .hb_subtitle{
                line-height: 1;
            }
        }
    }
}

@media screen and (max-width: 449px) {
    body .heroBanner{
        section{
            h1.hb_title{
                font-size: 3rem;
            }

            .hb_subtitle{
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    body .heroBanner{
        section{
            h1.hb_title{
                font-size: 2.7rem;
            }
        }
    }
}