@use '../../utils/variables' as var;

.eventsContainer{
    width: 95%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    gap: 2rem;
    justify-content: center;
    
    .eventArticle{
        width: 25%;
        max-width: 27.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .eventImg{
            max-width: 26.875rem;
            max-height: 15.625rem ;
            width: 100%;
        }

        .textContainer{
            h3{
                color: white;
                font-size: 2.25rem;
            }
            .date{
                font-size: 2.50rem;
                color: white;
            }
            .location{
                font-size: 1.5rem;
                color: white;
            }
            .description{
                font-size: 1.5rem;
                color: white;
            }
        }
    }

}