@use '../../utils/variables' as var;
@use '../../components/buttons';


#latestNews {
    width: 100%;
    max-width: var.$mxw;
    margin: auto;
    margin-top: 15.625rem;
    padding-left: 2rem; // Afin d'éviter que les contenus collent les bords en responsive
    padding-right: 2rem; // Afin d'éviter que les contenus collent les bords en responsive
    box-sizing: border-box; // Afin d'éviter que les contenus collent les bords en responsive

    .newsContainer {
        display: flex;
        flex-direction: row;
        width: 100%;

        .mainArticle {
            width: 100%;
            max-width: 1000px;
            padding-right: 3rem;

            .textContainer{
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            img {
                width: 100%;
                height: 525px; 
                object-fit: cover;
                object-position: center;
                border-radius: .625rem;
            }
            .textContainer {
                display: flex;
                padding-left: 3rem;
                align-items: flex-start;
                padding-right: 3rem;
                flex-direction: column;

                .date{
                    margin-top: 1rem;

                    & + .btn{
                        margin-top: 1rem;
                    }
                }
            }

            h3{
                text-align: left;
            }

            
        }
        .sideSection {
            width: 100%;
            max-width: 450px;
            display: flex;
            flex-direction: column;
            gap: 1.5rem; 
            align-items: center;


            .sideArticle {
                position: relative;
                width: 100%; 
                border-radius: .625rem;
                height: 175px;

                .sideArticleLink{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem; 
                    width: 100%;
                    min-width: 0;
                    position: relative;
                    transition: all var.$smallTransi ease-in-out;
                    border-radius: inherit;
                    height: inherit;

                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        background-color: rgba(53, 53, 53, 0.65);
                        filter: contrast(0.5);
                        border-radius: .625rem;
                        transition: all calc(var.$smallTransi / 2) ease-in-out;
                        z-index: 1;
                    }

                    &:hover, &:focus{
                        &::before{
                            background-color: var.$tertiaryColour;
                            filter: contrast(0.5);
                            opacity: 0.75;
                        }
                    }
                    &:focus{
                        outline: none;
                    }

                    img {
                        width: 100%;
                        max-width: 100%;
                        height: inherit;
                        object-fit: cover;
                        object-position: center;
                        border-radius: inherit;
                        height: inherit;
                        
                    }
                    .textContainer {
                        display: block;
                        position: absolute;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        width: 100%;
                        box-sizing: border-box;
                        top: 0;
                        bottom: 0;
                        z-index: 2;

                        .title{
                            text-transform: uppercase;
                            position: absolute;
                            top: 50%;
                            left: 0.5rem;
                            right: 0.5rem;
                            transform: translateY(-50%);
                            margin-top: 0;
                            font-family: var.$secondaryTypo;
                            font-weight: 500;
                            font-size: 1.4rem;
                            color: white;
                        }

                        p{
                            color: white;
                            font-size: 1.5rem;
                            font-weight: 900;

                            &.date{
                                font-size: 1rem;
                                position: absolute;
                                bottom: 1rem;
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 999px) {
    #latestNews {
        .newsContainer {
            flex-direction: column;

            .mainArticle{
                margin-bottom: 8rem;
            }

            .sideSection{
                max-width: 100%;

                .btn{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 999px) {

    #latestNews {
        h2{
            font-size: 2rem;
        }
        
        .textContainer .title{
            font-size: 1.5rem;
        }

        .newsContainer{
            .mainArticle{
                padding-right: 0;
            }
        }
    }
    #latestNews .newsContainer .sideSection .sideArticle .sideArticleLink .textContainer .title {
        font-size: 1.25rem;
        top: 45%;
    }

    #latestNews .newsContainer .sideSection .sideArticle .sideArticleLink .textContainer .date{
        font-size: 1rem;
    } 
    

    #latestNews {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
    


@media screen and (max-width: 767px) {
    #latestNews {
        .newsContainer {
            .mainArticle {
                img {
                    height: 300px;
                }
            }

            .sideSection {
                .sideArticle {
                    height: 150px;

                    img {
                        height: inherit;
                    }
                }
            }
        }
    }
}