@use '../utils/variables' as var;

.btn{

    display: block;
    border-radius : 10px;
    padding: 0.75rem 2rem;
    width: fit-content;
    font-family: var.$secondaryTypo;
    font-weight: 500;
    color: white;
    text-decoration: none;
    background-color: var.$tertiaryColour;

    transition: all var.$smallTransi ease-in-out;

    &:hover, &:focus{
        color: var.$tertiaryColour;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &.secondary{
        color: var.$tertiaryColour;
        background-color: var.$background;
        border: 2px solid var.$tertiaryColour;

        &:hover, &:focus{
            color: white;
            background-color: var.$tertiaryColour;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }

    &.tertiary{
        color: var.$tertiaryColour;
        background-color: white;
    }

}