$primaryColour : #422D00;
$secondaryColour : #231800;
$tertiaryColour : #1C7950;
$header-and-footer : #fff9eb;


$mxw : 1400px;

$borderRadius : .625rem;

$primaryTypo : "MPlus Rounded 1c", sans-serif;

$smallTransi : 0.3s;
